.ueditor {
    display: inline-block;
    border: 1px solid #bbb;
    padding: 0 1px 1px;
    font: 12px Verdana,Arial;
}

.ueditor textarea {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    font: 14px 'Courier New',Verdana;
    resize: none !important;
}

.ueditor iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

.ueditor-user-select {
    -moz-user-focus: ignore;

    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -m-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ueditor-header {
    height: 26px;
    border-bottom: 1px solid #bbb;
    background: url(header-bg.gif) repeat-x;
    padding-top: 1px;
}

.ueditor-header select {
    float: left;
    margin-top: 4px;
}

.ueditor-font {
    margin-left: 12px;
}

.ueditor-size {
    margin: 0 3px;
}

.ueditor-style {
    margin-right: 12px;
}

.ueditor-divider {
    float: left;
    width: 1px;
    height: 26px;
    background: #ccc content-box;
    margin: 0 5px;
}

.ueditor-control {
    float: left;
    width: 26px;
    height: 26px;
    cursor: pointer;

    -khtml-filter: grayscale();
    -moz-filter: grayscale();
    -o-filter: grayscale();
    -webkit-filter: grayscale();
    filter: grayscale();
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);

    -khtml-transition: -khtml-filter 500ms;
    -moz-transition: -moz-filter 500ms;
    -ms-transition: -ms-filter 500ms;
    -o-transition: -o-filter 500ms;
    -webkit-transition: -webkit-filter 500ms;
    transition: filter 500ms;
}

.ueditor-control:hover {
    background-color: #fff;

    -khtml-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.ueditor-icon {
    width: 16px;
    height: 16px;
    margin: 5px 5px;
    background-image: url(icons.png);
}

.ueditor-footer {
    height: 25px;
    border-top: 1px solid #bbb;
    background: #F5F5F5;
}

.ueditor-toggle {
    float: left;
    background: url(icons.png) 5px 6px no-repeat padding-box;
    padding: 5px 12px 5px 24px;
    height: 15px;
    border-right: 1px solid #ccc;
    cursor: pointer;
    color: #666;
}

.ueditor-toggle:hover {
    background-color: #fff;
}

.ueditor-resize {
    float: right;
    height: 25px;
    width: 25px;
    background: url(resize.gif) 12px 12px no-repeat;
    cursor: s-resize;
    cursor: ns-resize;
}

.ueditor-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: row-resize;
}
